extends layout

block content
  h1= title
  each album in albums
    h2 
      - var thumbnailLink = "/html/thumbnails/" + album.name + "/_cover"
      img(src=thumbnailLink, width=thumbnailSize.width, height=thumbnailSize.height)
      - var albumLink = '/html/albums/' + album.name + "/"
      a(href=albumLink) #{album.name}
